body{
    background:black;
    color:#00ff00;
    font-family:"Courier New", monospace;
    font-size:22px;
    line-height:1.8;
    max-width:800px;
    margin:auto;
    padding:30px;
}

h1{
    color:#00ff00;
    font-size:36px;
}

p{
    font-size:22px;
}

a{
    color:#00ff00;
}

.botao{
    display:block;
    margin:10px 0;
    padding:12px;
    border:1px solid #00ff00;
    color:#00ff00;
    text-decoration:none;
    font-size:20px;
}

.botao:hover{
    background:#00ff00;
    color:black;
}

hr{
    border:1px solid #00ff00;
}
p{
    font-size:28px;
    line-height:2;
}

pre{
    font-size:28px;
    line-height:2;
    white-space:pre-wrap;
}

code{
    font-size:28px;
}
